<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Target</th>
      <th>URL</th>
    </tr>
  </thead>
  <tbody id="macro_listing">
  </tbody>
</table>

<div class="toolbar">
  <button class="custom-appearance icon-play" data-action="start"></button>
  <button class="custom-appearance icon-pause" data-action="pause"></button>
  <button class="custom-appearance icon-stop" data-action="stop"></button>
  <button class="custom-appearance icon-trash" data-action="reset"></button>
  <button class="custom-appearance icon-cmd" data-action="reload"></button>
</div>