<heading>
  <h1>Macros</h1>
</heading>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Target</th>
    </tr>
  </thead>
  <tbody id="macro_listing">
  </tbody>
</table>

<div class="actionbar">
  <button class="btn" data-action="record">Start recording</button>
</div>