<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Length</th>
    </tr>
  </thead>
  <tbody id="macros">
  </tbody>
</table>

<div class="toolbar">
  <button data-action="new" class="custom-appearance icon-add" title="New macro"></button>
  <button data-action="play" class="custom-appearance icon-play" title="Play macro"></button>
  <button data-action="edit" class="custom-appearance icon-compose" title="Edit macro"></button>

  <button data-action="reset" class="custom-appearance icon-trash icon-red" title="Remove all macros"></button>

  <div class="pull-right">
    <button class="custom-appearance icon-cmd" data-action="reload" title="Reload Canvi"></button>
  </div>
</div>