<div class="overlay">
  <div class="page showing">
    <div class="close-button"></div>

    <h1>Macro Settings</h1>
    <div class="content-area">
      <form>
        <label>
          Name <input type="text" name="id" value="{{id}}" />
        </label>

        <div id="playback_settings">
          <hr />
          <h4>Playback settings</h4>

          <label>
            Number of playbacks <input type="number" min="0" max="100" name="replays" value="{{replays}}" />
          </label>

          <label>
            Pause between replays <input type="number" min="0" max="10000" name="replayTimer" value="{{replayTimer}}" />
          </label>

          <label>
            Pause between playback entries <input type="number" min="0" max="10000" name="pauseTimer" value="{{pauseTimer}}" />
          </label>

        </div>
      </form>
    </div>
    <div class="action-area">
      <div class="action-area-link-container">
        <button data-action="useDefaults" class="link-button">Use default settings</button>
      </div>
      <div class="button-strip">
        <button data-action="close">Cancel</button>
        <button data-action="save">Save</button>
      </div>
    </div>
    <div class="form-actions">
    </div>
  </div>
</div>