<div>
  <table>
    <thead>
      <tr>
        <th>Type</th>
        <th>Target</th>
        <!-- <th>URL</th> -->
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody id="entries">
    </tbody>
  </table>

  <div class="toolbar">
    <button data-action="record" title="Start recording" class="custom-appearance icon-red icon-circle-full"></button>
    <button data-action="play" title="Playback" class="custom-appearance icon-play"></button>
    <button data-action="pause" title="Pause playback" class="custom-appearance icon-pause"></button>
    <button data-action="stop" title="Stop recording or playback" class="custom-appearance icon-stop"></button>
    <button data-action="remove" title="Remove this macro" class="custom-appearance icon-forbid icon-red"></button>

    <span id="macro_status"> </span>
  </div>
</div>